.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

h1 {
  color: #3f51b5;
  font-weight: 300;
  font-size: 2rem;
}
