<div id="toolbar">
  <span class="ql-formats">
    <button class="ql-operator-minus" type="button">-</button>
    <button class="ql-operator-plus" type="button">+</button>
    <button class="ql-operator-divide" type="button">/</button>
  </span>
  <span class="ql-formats">
    <button class="ql-function-avg" type="button">Avg</button>
    <button class="ql-function-sum" type="button">Sum</button>
    <button class="ql-function-scale" type="button">Scale</button>
  </span>
</div>
<div #editor></div>
